@media (min-width: 1200px) {
	
}
@media (min-width: 998px) {
	h1{
		background-color: red;
	}
}
@media (min-width: 768px) {
	
}
@media (min-width: 480px) {
	
}
@media (min-width: 320px) {
	
}

html {
  --s: 50px;
  --c: #191b22;
  --_s: calc(2*var(--s)) calc(2*var(--s));
  --_g: 35.36% 35.36% at;
  --_c: #0000 66%,#20222a 68% 70%,#0000 72%;
  background: 
    radial-gradient(var(--_g) 100% 25%,var(--_c)) var(--s) var(--s)/var(--_s), 
    radial-gradient(var(--_g) 0 75%,var(--_c)) var(--s) var(--s)/var(--_s), 
    radial-gradient(var(--_g) 100% 25%,var(--_c)) 0 0/var(--_s), 
    radial-gradient(var(--_g) 0 75%,var(--_c)) 0 0/var(--_s), 
    repeating-conic-gradient(var(--c) 0 25%,#0000 0 50%) 0 0/var(--_s), 
    radial-gradient(var(--_c)) 0 calc(var(--s)/2)/var(--s) var(--s) var(--c);
  background-attachment: fixed;
}

.js .wow {
  opacity: 0;
  transform: translateY(1em);
  transition: all 0.5s 0.5s ease-out;
}
.js .animated {
  opacity: 1;
  transform: none;
}

body {
  scroll-behavior: smooth;
}





.zagalovik {
	font-size: 80px;
}


p{
	color: #F0F8FF;
}
h1 {
color: #F0F8FF;
}





img {
border-radius: 20px;	
border-radius: 5% 15%;

}


.disein p{
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 450;
  font-style: normal;
  font-size: 10px;
  color: gray;

}
.jost-<uniquifier> {
  font-family: "Jost", sans-serif;
  font-weight: 400;
  font-style: normal;
}
h1 {
  font-family: "Jost", sans-serif;	
  font-weight: 500;
  font-size: 50px;
  
}	
.titl{
	color: gray;

}
.opicanie {
	font-family: "Comfortaa", sans-serif;	
    font-weight: 500;
	font-size: 20px;
	padding: 0 500 0 10;
}



.wow {
  opacity: 0;
  transition: all 0.5s 0.5s ease-out;
}  
.animated {
  opacity: 1;
}
img{
	margin: 10px;

}

.rabot1{
	border-radius: 30px;
	border-radius: 2% 20% 20% 2%;
-webkit-box-shadow: 0px 0px 68px -3px rgba(66,36,32,1);
-moz-box-shadow: 0px 0px 68px -3px rgba(66,36,32,1);
box-shadow: 0px 0px 68px -3px rgba(66,36,32,1);
}
.rabot2{
	border-radius: 30px;
	border-radius: 2% 2% 2% 2%;
-webkit-box-shadow: 0px 0px 68px -3px rgba(66,36,32,1);
-moz-box-shadow: 0px 0px 68px -3px rgba(66,36,32,1);
box-shadow: 0px 0px 68px -3px rgba(66,36,32,1);
}
.rabot3{
	border-radius: 30px;
	border-radius: 20% 2% 2% 20%;
-webkit-box-shadow: 0px 0px 68px -3px rgba(66,36,32,1);
-moz-box-shadow: 0px 0px 68px -3px rgba(66,36,32,1);
box-shadow: 0px 0px 68px -3px rgba(66,36,32,1);
}

.post {
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  display: flex;
}
header, footer {
  padding: 10px;
}
.romancelo {
 -webkit-box-shadow: 0px 0px 63px 0px rgba(189,24,189,1);
-moz-box-shadow: 0px 0px 63px 0px rgba(189,24,189,1);
box-shadow: 0px 0px 63px 0px rgba(189,24,189,1);
}
#menu1{
position: relative;
display: block;
width: 100%;
height: auto;
z-index: 10;
}
#menu1 ul{
position: relative;
display: block;
margin: 0px;
padding: 0px;
width: 100%;
height: auto;
list-style: none;
}
#menu1 > ul::after{
display: block;
width: 100%;
height: 0px;
clear: both;
content: " ";
}
#menu1 ul li{
position: relative;
display: block;
 float: left;
width: auto;
height: auto;
}
#menu1 ul li a{
display: block;
padding: 10px 30px 10px;
font-size: 14px;
line-height: 1.3em;
text-decoration: none;
font-weight: bold;
text-transform: uppercase;
height: 36px;
box-sizing: border-box;
color: black;
}
#menu1 ul li ul{
position: absolute;
top: 36px;
left: 100000000px;
display: none;
width: auto;
background-color: #00CED1;
}
#menu1 ul li:hover ul{
display: block;
}
#menu1 ul li ul li{
float: none;
width: 100%;
}

#menu1 ul li ul li a{
display: block;
text-transform: none;
height: auto;
padding: 14px 30px;
width: 100%;
box-sizing: border-box;
border-top: 1px solid #ffffff;
color: black;
}

#menu1 ul li ul li:first-child a{
border-top: 0px;
}
ul li {
	background-color: #2F4F4F;
}
#Menu2:hover a {
  background: #696969; /*цвет при наведении */
}
#Menu2:hover a {
  color: #A9A9A9; /*цвет при наведении текст */
}
a {
font-family: ‘Comfortaa’, sans-serif;
font-weight: 600;
letter-spacing: 0.5px;
text-decoration: none;
font-size: 25px;
color: white;
}
p {
	font-family: ‘Comfortaa’, sans-serif;
font-weight: 600;
letter-spacing: 0.5px;
text-decoration: none;
font-size: 25px;
color: white;
}
small {
	color: white;
}
.animation2 {
  opacity: 0;
  animation: ani 2.5s forwards;
}
@keyframes ani {
  0% {opacity: 0;}
  100% {opacity: 1;}
}	






